

<div style="float:left">
  <iframe height="380" frameborder="0" width="370" scrolling="no" style="overflow: hidden;" src="http://www.facebook.com/connect/connect.php?id=129712729600&connections=24&stream=0&css=http%3A//dev.wibiya.com/Site/style/wibiyaFanPage.css" allowtransparency="true"></iframe>
  </div>
 
