
<div style="height:400px;width:315px;">
  <script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_GB"></script><script type="text/javascript">FB.init("05245ba91ee2d18e5dfe3ec750abd6bb");</script><fb:fan profile_id="129712729600" stream="1" connections="0" logobar="0" width="300"></fb:fan><div style="font-size:8px; padding-left:10px"><a href="http://www.facebook.com/pages/Addy-Osmani/129712729600">Addy Osmani</a> on Facebook</div>
</div>


