body{
	font-family:arial;
	font-size:12px;
	padding-bottom:100px;
	overflow-x:hidden;
}

H1{
	color:#2F3032
}
#footer{
	bottom:0;
	height:50px;
	left:0;
	position:fixed;
	text-align:center;
	width:100%;
	z-index:100;
	background:#2F3032;
}

#footer a.icon{
	background:url(icon.gif) no-repeat;
	display:block;
	float:left;
	width:48px;
	height:48px;
	margin:0 10px 0 0;
}

#footer a.link{
	display:block;
	float:right;
	margin:0 10px 0 10px;
	line-height:48px;
	color:white;
	text-decoration:none;
}
#footer a.link:hover{
	text-decoration:underline;
}

.google-buzz { width: 480px;}
.gbw { width: 470px}
.gbw li { background-color: #E6F0FF;}
.gbw li:nth-child(2n+1){ background-color: #FFFFFF;}