body
    {
    margin: 0;
    padding: 0 0 8em 0;
    color: #000;
    background: #fff;
    font-size: 1em;
    }
  div#floatingbar
    {
    overflow: hidden;
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000;
	font-family:Arial;
	font-weight:bold;
	background-image:url('../images/tui.png');
	
    }
  div#content
    {
    padding: 1em;
    }
 
@media screen
  {
  body>div#floatingbar
    {
    position: fixed;
    }
  }
  
  

#floatingbar ul { list-style-type:none;}
#floatingbar ul li { float:left; padding:14px; color:#666; margin-top:-3px;  }
#floatingbar ul li a { text-decoration:none; color:#fff; padding: 5px;  font-size:12px;  font-weight:normal; font-family:Arial;}
#floatingbar ul li a:hover { color:#000033;}
#floatingbar ul li a img { float:left; border:none;}
.bottomBarLinkRight { float:right;}
.stico_default  { background-image:none; }

