body
  {
  height: 100%;
  overflow: hidden;
  font-size: 100%;
  }
div#content
  {
  width: 100%;
  height: 100%;
  overflow: auto;
  }
  
  #floatingbar { height:0px;}
  #google_translate_element { margin-top:-10px;}
 .translateicon { float:left; line-height:15px}
  #floatingbar li { margin-top:15px; line-height:20px}
  