
.publications51,
.fc-agenda .publications51 .fc-event-time,
.fc-agenda .publications51 .fc-event-bg,
.fc-agenda .publications51 .fc-event-title,
.publications51 a {
      background-color: #006600 !important;
      border: none;
      color: white;
      }
.publications51 a
{
    border: thin solid white !important;
}     
.publications51 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications52,
.fc-agenda .publications52 .fc-event-time,
.fc-agenda .publications52 .fc-event-bg,
.fc-agenda .publications52 .fc-event-title,
.publications52 a {
      background-color: #cc9966 !important;
      border: none;
      color: black;
      }
.publications52 a
{
    border: thin solid white !important;
}     
.publications52 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications53,
.fc-agenda .publications53 .fc-event-time,
.fc-agenda .publications53 .fc-event-bg,
.fc-agenda .publications53 .fc-event-title,
.publications53 a {
      background-color: #ffff99 !important;
      border: none;
      color: black;
      }
.publications53 a
{
    border: thin solid white !important;
}     
.publications53 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications54,
.fc-agenda .publications54 .fc-event-time,
.fc-agenda .publications54 .fc-event-bg,
.fc-agenda .publications54 .fc-event-title,
.publications54 a {
      background-color: #99ff33 !important;
      border: none;
      color: black;
      }
.publications54 a
{
    border: thin solid white !important;
}     
.publications54 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications55,
.fc-agenda .publications55 .fc-event-time,
.fc-agenda .publications55 .fc-event-bg,
.fc-agenda .publications55 .fc-event-title,
.publications55 a {
      background-color: #66ffcc !important;
      border: none;
      color: black;
      }
.publications55 a
{
    border: thin solid white !important;
}     
.publications55 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications56,
.fc-agenda .publications56 .fc-event-time,
.fc-agenda .publications56 .fc-event-bg,
.fc-agenda .publications56 .fc-event-title,
.publications56 a {
      background-color: #00ffcc !important;
      border: none;
      color: black;
      }
.publications56 a
{
    border: thin solid white !important;
}     
.publications56 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications57,
.fc-agenda .publications57 .fc-event-time,
.fc-agenda .publications57 .fc-event-bg,
.fc-agenda .publications57 .fc-event-title,
.publications57 a {
      background-color: #00cc33 !important;
      border: none;
      color: black;
      }
.publications57 a
{
    border: thin solid white !important;
}     
.publications57 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications58,
.fc-agenda .publications58 .fc-event-time,
.fc-agenda .publications58 .fc-event-bg,
.fc-agenda .publications58 .fc-event-title,
.publications58 a {
      background-color: #009966 !important;
      border: none;
      color: black;
      }
.publications58 a
{
    border: thin solid white !important;
}     
.publications58 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications59,
.fc-agenda .publications59 .fc-event-time,
.fc-agenda .publications59 .fc-event-bg,
.fc-agenda .publications59 .fc-event-title,
.publications59 a {
      background-color: #0099ff !important;
      border: none;
      color: black;
      }
.publications59 a
{
    border: thin solid white !important;
}     
.publications59 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications60,
.fc-agenda .publications60 .fc-event-time,
.fc-agenda .publications60 .fc-event-bg,
.fc-agenda .publications60 .fc-event-title,
.publications60 a {
      background-color: #669999 !important;
      border: none;
      color: black;
      }
.publications60 a
{
    border: thin solid white !important;
}     
.publications60 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications61,
.fc-agenda .publications61 .fc-event-time,
.fc-agenda .publications61 .fc-event-bg,
.fc-agenda .publications61 .fc-event-title,
.publications61 a {
      background-color: #9999cc !important;
      border: none;
      color: black;
      }
.publications61 a
{
    border: thin solid white !important;
}     
.publications61 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications62,
.fc-agenda .publications62 .fc-event-time,
.fc-agenda .publications62 .fc-event-bg,
.fc-agenda .publications62 .fc-event-title,
.publications62 a {
      background-color: #cc9933 !important;
      border: none;
      color: black;
      }
.publications62 a
{
    border: thin solid white !important;
}     
.publications62 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications63,
.fc-agenda .publications63 .fc-event-time,
.fc-agenda .publications63 .fc-event-bg,
.fc-agenda .publications63 .fc-event-title,
.publications63 a {
      background-color: #666600 !important;
      border: none;
      color: white;
      }
.publications63 a
{
    border: thin solid white !important;
}     
.publications63 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications65,
.fc-agenda .publications65 .fc-event-time,
.fc-agenda .publications65 .fc-event-bg,
.fc-agenda .publications65 .fc-event-title,
.publications65 a {
      background-color: #000099 !important;
      border: none;
      color: white;
      }
.publications65 a
{
    border: thin solid white !important;
}     
.publications65 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications67,
.fc-agenda .publications67 .fc-event-time,
.fc-agenda .publications67 .fc-event-bg,
.fc-agenda .publications67 .fc-event-title,
.publications67 a {
      background-color: #9966ff !important;
      border: none;
      color: black;
      }
.publications67 a
{
    border: thin solid white !important;
}     
.publications67 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications69,
.fc-agenda .publications69 .fc-event-time,
.fc-agenda .publications69 .fc-event-bg,
.fc-agenda .publications69 .fc-event-title,
.publications69 a {
      background-color: #ff6633 !important;
      border: none;
      color: black;
      }
.publications69 a
{
    border: thin solid white !important;
}     
.publications69 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications71,
.fc-agenda .publications71 .fc-event-time,
.fc-agenda .publications71 .fc-event-bg,
.fc-agenda .publications71 .fc-event-title,
.publications71 a {
      background-color: #336699 !important;
      border: none;
      color: white;
      }
.publications71 a
{
    border: thin solid white !important;
}     
.publications71 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications74,
.fc-agenda .publications74 .fc-event-time,
.fc-agenda .publications74 .fc-event-bg,
.fc-agenda .publications74 .fc-event-title,
.publications74 a {
      background-color: #669999 !important;
      border: none;
      color: black;
      }
.publications74 a
{
    border: thin solid white !important;
}     
.publications74 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications75,
.fc-agenda .publications75 .fc-event-time,
.fc-agenda .publications75 .fc-event-bg,
.fc-agenda .publications75 .fc-event-title,
.publications75 a {
      background-color: #66ff33 !important;
      border: none;
      color: black;
      }
.publications75 a
{
    border: thin solid white !important;
}     
.publications75 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications76,
.fc-agenda .publications76 .fc-event-time,
.fc-agenda .publications76 .fc-event-bg,
.fc-agenda .publications76 .fc-event-title,
.publications76 a {
      background-color: #330099 !important;
      border: none;
      color: white;
      }
.publications76 a
{
    border: thin solid white !important;
}     
.publications76 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications77,
.fc-agenda .publications77 .fc-event-time,
.fc-agenda .publications77 .fc-event-bg,
.fc-agenda .publications77 .fc-event-title,
.publications77 a {
      background-color: #ff6633 !important;
      border: none;
      color: black;
      }
.publications77 a
{
    border: thin solid white !important;
}     
.publications77 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications78,
.fc-agenda .publications78 .fc-event-time,
.fc-agenda .publications78 .fc-event-bg,
.fc-agenda .publications78 .fc-event-title,
.publications78 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications78 a
{
    border: thin solid white !important;
}     
.publications78 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications80,
.fc-agenda .publications80 .fc-event-time,
.fc-agenda .publications80 .fc-event-bg,
.fc-agenda .publications80 .fc-event-title,
.publications80 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications80 a
{
    border: thin solid white !important;
}     
.publications80 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications82,
.fc-agenda .publications82 .fc-event-time,
.fc-agenda .publications82 .fc-event-bg,
.fc-agenda .publications82 .fc-event-title,
.publications82 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications82 a
{
    border: thin solid white !important;
}     
.publications82 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications83,
.fc-agenda .publications83 .fc-event-time,
.fc-agenda .publications83 .fc-event-bg,
.fc-agenda .publications83 .fc-event-title,
.publications83 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications83 a
{
    border: thin solid white !important;
}     
.publications83 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications84,
.fc-agenda .publications84 .fc-event-time,
.fc-agenda .publications84 .fc-event-bg,
.fc-agenda .publications84 .fc-event-title,
.publications84 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications84 a
{
    border: thin solid white !important;
}     
.publications84 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications85,
.fc-agenda .publications85 .fc-event-time,
.fc-agenda .publications85 .fc-event-bg,
.fc-agenda .publications85 .fc-event-title,
.publications85 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications85 a
{
    border: thin solid white !important;
}     
.publications85 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications86,
.fc-agenda .publications86 .fc-event-time,
.fc-agenda .publications86 .fc-event-bg,
.fc-agenda .publications86 .fc-event-title,
.publications86 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications86 a
{
    border: thin solid white !important;
}     
.publications86 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications87,
.fc-agenda .publications87 .fc-event-time,
.fc-agenda .publications87 .fc-event-bg,
.fc-agenda .publications87 .fc-event-title,
.publications87 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications87 a
{
    border: thin solid white !important;
}     
.publications87 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications88,
.fc-agenda .publications88 .fc-event-time,
.fc-agenda .publications88 .fc-event-bg,
.fc-agenda .publications88 .fc-event-title,
.publications88 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications88 a
{
    border: thin solid white !important;
}     
.publications88 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications89,
.fc-agenda .publications89 .fc-event-time,
.fc-agenda .publications89 .fc-event-bg,
.fc-agenda .publications89 .fc-event-title,
.publications89 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications89 a
{
    border: thin solid white !important;
}     
.publications89 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications90,
.fc-agenda .publications90 .fc-event-time,
.fc-agenda .publications90 .fc-event-bg,
.fc-agenda .publications90 .fc-event-title,
.publications90 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications90 a
{
    border: thin solid white !important;
}     
.publications90 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications91,
.fc-agenda .publications91 .fc-event-time,
.fc-agenda .publications91 .fc-event-bg,
.fc-agenda .publications91 .fc-event-title,
.publications91 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications91 a
{
    border: thin solid white !important;
}     
.publications91 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications92,
.fc-agenda .publications92 .fc-event-time,
.fc-agenda .publications92 .fc-event-bg,
.fc-agenda .publications92 .fc-event-title,
.publications92 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications92 a
{
    border: thin solid white !important;
}     
.publications92 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications93,
.fc-agenda .publications93 .fc-event-time,
.fc-agenda .publications93 .fc-event-bg,
.fc-agenda .publications93 .fc-event-title,
.publications93 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications93 a
{
    border: thin solid white !important;
}     
.publications93 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications94,
.fc-agenda .publications94 .fc-event-time,
.fc-agenda .publications94 .fc-event-bg,
.fc-agenda .publications94 .fc-event-title,
.publications94 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications94 a
{
    border: thin solid white !important;
}     
.publications94 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications95,
.fc-agenda .publications95 .fc-event-time,
.fc-agenda .publications95 .fc-event-bg,
.fc-agenda .publications95 .fc-event-title,
.publications95 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications95 a
{
    border: thin solid white !important;
}     
.publications95 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications96,
.fc-agenda .publications96 .fc-event-time,
.fc-agenda .publications96 .fc-event-bg,
.fc-agenda .publications96 .fc-event-title,
.publications96 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications96 a
{
    border: thin solid white !important;
}     
.publications96 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications97,
.fc-agenda .publications97 .fc-event-time,
.fc-agenda .publications97 .fc-event-bg,
.fc-agenda .publications97 .fc-event-title,
.publications97 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications97 a
{
    border: thin solid white !important;
}     
.publications97 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications98,
.fc-agenda .publications98 .fc-event-time,
.fc-agenda .publications98 .fc-event-bg,
.fc-agenda .publications98 .fc-event-title,
.publications98 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications98 a
{
    border: thin solid white !important;
}     
.publications98 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications99,
.fc-agenda .publications99 .fc-event-time,
.fc-agenda .publications99 .fc-event-bg,
.fc-agenda .publications99 .fc-event-title,
.publications99 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications99 a
{
    border: thin solid white !important;
}     
.publications99 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications100,
.fc-agenda .publications100 .fc-event-time,
.fc-agenda .publications100 .fc-event-bg,
.fc-agenda .publications100 .fc-event-title,
.publications100 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications100 a
{
    border: thin solid white !important;
}     
.publications100 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications101,
.fc-agenda .publications101 .fc-event-time,
.fc-agenda .publications101 .fc-event-bg,
.fc-agenda .publications101 .fc-event-title,
.publications101 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications101 a
{
    border: thin solid white !important;
}     
.publications101 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications102,
.fc-agenda .publications102 .fc-event-time,
.fc-agenda .publications102 .fc-event-bg,
.fc-agenda .publications102 .fc-event-title,
.publications102 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications102 a
{
    border: thin solid white !important;
}     
.publications102 a:hover {
      border: 4px solid #FFFF00 !important;
      }


.publications103,
.fc-agenda .publications103 .fc-event-time,
.fc-agenda .publications103 .fc-event-bg,
.fc-agenda .publications103 .fc-event-title,
.publications103 a {
      background-color: #FFFFCC !important;
      border: none;
      color: black;
      }
.publications103 a
{
    border: thin solid white !important;
}     
.publications103 a:hover {
      border: 4px solid #FFFF00 !important;
      }

