#loading {
    position: absolute;
    top: 5px;
    right: 5px;
    }

#calendar {
    width: 98%;
    margin: 10px;
}
 
.newsHead{
    font-size:1.5em;
    font-weight:bold;
}
.newsArticle{
    font-size:1em;
    line-height:1.2em;
}
.eventDate{
    width:100%;
    border-top:1px solid #AC1D23;
    font-size:1em;
    color:#AC1D23;
}
.eventTitle{
    font-size: 1.2em;
    font-weight:bold;
    color:black;
}
.eventDescription{
    font-size:1em;
    line-height:1.2em;
    padding-bottom:4px;
    margin-bottom:4px;
}
.label {
    float: left;
    width: 140px;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 10px;
}
.input {
    float: left;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
    padding-left: 4px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}
#wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom:2px;
    padding-right:10px;
    padding-top:5px;
}


.presslayoutBRD{
    width:50px;
}
                             


.clear {
    clear: both;
    height: 0;
}


.pressInfoLabel{
    width:110px;
    font-weight:bold;
    background-color: #ccc
}

.pressInfoData{
    width:120px;
    background-color:white;
}


.checklist_checked {
    width: 230px;
    height: 32px;
    padding-left:40px;
    background-image: url(../artwork/checkbox_checked.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-top:4px;
    cursor:pointer;
}
.checklist_unchecked {
    width: 230px;
    height: 32px;
    padding-left:40px;
    background-image: url(../artwork/checkbox_unchecked.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-top:4px;
    cursor:pointer;
}

.error{
    text-decoration: blink;
    font-weight:bold;
    color:red;
}
 
.pressDiagram a:visited{
    background-image:url(../artwork/icons/add_48.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-color:inherit !important;
}

/************************************************************************************
*
* THIS SECTION IS FOR THE INVENTORY PURCHASE ORDER INPUT SCRIPTS
*
***********************************************************************************/
.inventoryLine{
    float:left;
    border-bottom:1px solid #AC1D23;
    margin-left:10px;
    margin-bottom:2px;
    width:760px;
    height:48px;
    padding-top:4px;
    font-family:Trebuchet MS, Arial, sans-serif;
    font-size:12px;    
}
.partName{
    float:left;
    width:585px;
    font-weight:bold;
    color:#AC1D23;
    font-size:14px;
}
.partName a{
    text-decoration:none;
    background-image: url(../artwork/icons/binocular_24.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 32px;
    background-color:inherit !important;   
}
.partGL{
    padding-top:4px;
    float:left;
    width:300px;
    color:black;
}.partNumber{
    padding-top:4px;
    float:left;
    width:150px;
    color:black;
}
.partPrice{
    float:left;
    width:150px;
    color:black;
}
.partQty{
    float:left;
    width:120px;
    color:black;
}
.partTotal{
    float:left;
    width:150px;
    color:black;
}



.imgSelected{
    border:2px solid red;
}
.imgUnselected{
    border:0px;
}
.alertItem{
    height:26px;
    padding-top:2px;
    width:300px;
    border-bottom:thin solid black;
}


/*jquery ContextMenu Plugin*/
.context-menu {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

background-color: #f2f2f2;
border: 1px solid #999;

list-style: none;
margin: 0; padding: 0;
}
.context-menu a {
display: block;
padding: 3px;
text-decoration: none;
color: #333;
}
.context-menu a:hover {
background-color: #666;
color: white;
}


/*
these styles are for ajax loaded rows of data, like newsprint rolls, po items, insert publications, etc
*/
.subrow {
    width:90%;
    margin-bottom:4px;
    padding-bottom:3px;
    border-bottom:thin solid #666;
    font-size:12px;
    text-align:left;
}


/* these classes are for the user messaging system */
.notification
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    color: red;
}
.success
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #acfa58;
    color: black;
}
.fail
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #fe2e2e;
    color: white;
}



/* maintenance stuff */
.equipmentitem {
    width:80px;
    background-color:white;
}
.equipmentitem:hover {
    background-color:#fece2f;
}


@media print
{
    #topholder {
        display: none;
    }
    #toptabmenu {
        display: none;
    }
    #mainmenu {
        display: none;
    }
    #topeverythingelse {
        display: none;
    }
    #toplogographic {
        display: none;
    }
    #tableoptions {
        display: none;
    }
    .noprint {
        display: none;
    }
}

/* to make sure datepicker appears in dialog boxes */
#ui-datepicker-div 
{
 z-index: 999999999 !important; /* must be > than popup editor (950) */
}

.binderyRunTimes {
    margin-bottom:4px;
    padding-bottom:4px;
    border-bottom:thin solid black;
    width:800px;
}


/* custom bootstrap button classes */
.btn-dark { 
  color: #ffffff; 
  background-color: #2B2B2B; 
  border-color: #000000; 
} 
 
.btn-dark:hover, 
.btn-dark:focus, 
.btn-dark:active, 
.btn-dark.active, 
.open .dropdown-toggle.btn-dark { 
  color: #ffffff; 
  background-color: #616161; 
  border-color: #000000; 
} 
 
.btn-dark:active, 
.btn-dark.active, 
.open .dropdown-toggle.btn-dark { 
  background-image: none; 
} 
 
.btn-dark.disabled, 
.btn-dark[disabled], 
fieldset[disabled] .btn-dark, 
.btn-dark.disabled:hover, 
.btn-dark[disabled]:hover, 
fieldset[disabled] .btn-dark:hover, 
.btn-dark.disabled:focus, 
.btn-dark[disabled]:focus, 
fieldset[disabled] .btn-dark:focus, 
.btn-dark.disabled:active, 
.btn-dark[disabled]:active, 
fieldset[disabled] .btn-dark:active, 
.btn-dark.disabled.active, 
.btn-dark[disabled].active, 
fieldset[disabled] .btn-dark.active { 
  background-color: #2B2B2B; 
  border-color: #000000; 
} 
 
.btn-dark .badge { 
  color: #2B2B2B; 
  background-color: #ffffff; 
}

/* tab changes */
.skinnytab.nav>li>a {
    padding: 6px 10px;
}

.form-condensed .form-group {
    margin-bottom: 5px;    
}